.pokemon-container {
  text-align: center;
  border: 15px solid #f44e3f;
  margin-bottom: 50px;
  width: 100%;
  background-color: #ffffff;
}

h1 {
  color: #000000;
}

h3 {
  color: #000000;
}

p {
  color: #000000;
}

img {
  width: 500px;
  height: 500px;
  border: 10px solid green;
}

.stats-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  align-items: start;
  margin: 30px;
}
